TAURI_SIGNING_PRIVATE_KEY="Your_Private_Key_Here"

# macOS build signing configuration
APPLE_SIGNING_IDENTITY="Developer ID Application: Your Name (LEON123456)"

APPLE_TEAM_ID="LEON123456"
APPLE_ID="your_apple_id@domain.com"
APPLE_PASSWORD="123456"

APPLE_CERTIFICATE="your_base64_encoded_p12_certificate_here"
APPLE_CERTIFICATE_PASSWORD="your_certificate_password_here"